a, body, div, footer, h1, h2, h3, h4, h5, header, html, i, img, li, p, section, span, table, tbody, td, tr, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

footer, header, section {
    display: block
}

body {
    line-height: 1
}

ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}